<div class="container comment_show_area ">
    {% for comment in comment_list %}
        <div class="row">
        <div class="col-sm-12">
            <p>{{ comment.context }}</p>
            <div class="comment_info">
                <div class="col-sm-6">
                    <small class="comment_time">作者：{{ comment.author }}</small>
                </div>
                <div class="col-sm-6">
                    <small class="comment_time">时间：{{ comment.pub_time }}</small>
                </div>
            </div>
        </div>
        </div>
        <hr/>
    {% endfor %}
</div>