{% extends "articles/blog_base.html"%}

{% block title %}
    首页
{% endblock %}

{% block content %}
    <div class="col-sm-8 blog-main">
    {% for article in article_list %}
        <div class="blog-post">
            <a href={% url "articles:detail" article.title %}>
                <h2 class="blog-post-title">{{ article.title }}</h2>
            </a>
                <p class="blog-post-meta"> by <a href="#">{{ article.author }}</a></p>
                {% if article.content|length > 40 %}
                    {{ article.content|slice:':40' }}......
                    <a href={% url "articles:detail" article.title %}>
                    read more
                    </a>
                {% else %}
                    {{ article.content }}
              {% endif %}
          </div>
          <!-- /.blog-post -->
     {% endfor %}
    </div><!-- bloglist -->
{% endblock %}
