<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>关于</h4>
            <p>blank</p>
          </div>
          <div class="sidebar-module">
            <h4>空缺</h4>
            <ol class="list-unstyled tag_list">
                {% for tag in tag_list %}
              <li><a href="#">{{ tag }}</a></li>
                {% endfor %}
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
              <ol class="list-unstyled">
              <li><a href="#">空缺</a></li>
              <li><a href="#">空缺</a></li>
              <li><a href="#">空缺</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->